* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

.add-button {
    width: 75%;
    margin: auto;
    text-align: end;
}

ul li {
    width: 75%;
    margin: auto; 
}

.contact-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.5rem;
     border: 1px rgb(174, 172, 172) solid;
    border-radius: 4px;
   border-end-end-radius: none;
}
.container-profile{
    display: flex;
    padding: 1rem;
}
.contact-info{
    margin-top: 0.5rem;
    margin-left: 3.8rem;
}
h5{
    margin-left: 5px;
}
p{
    color: gray;
}
span{
    margin-right: 0.8rem;
}

.contact-button{
    padding: 1rem;
    margin-right: 1rem;
}

.fa-editar{
    padding-right: 1rem;
    margin-right: 1rem;
    color: black;
}
.button-trash{
    background-color: white;
    border: none;
}